<!-- wp:template-part {"slug":"header","theme":"techpress-theme","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","align":"full","className":"tp-section tp-section--blue","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull tp-section tp-section--blue">
	<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide">
		<!-- wp:techpress/term-index {"heading":"Tech Dictionary","postsToShow":40,"showSearch":true,"showAlphabet":true} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"techpress-theme","tagName":"footer"} /-->
